body {
   /*background: #f4f1e5;*/
   background-image: url('http://i.stack.imgur.com/MtKUX.jpg');
   color: #544738;
   font-family: 'DaFont';
   animation: animatedBackground 80s linear infinite;
  -moz-animation: animatedBackground 80s linear infinite;
  -webkit-animation: animatedBackground 80s linear infinite;
  -ms-animation: animatedBackground 80s linear infinite;
  -o-animation: animatedBackground 80s linear infinite;
}

keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -3000px 0; }
}
@-moz-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -3000px 0; }
}
@-webkit-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -3000px 0; }
}
@-ms-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -3000px 0; }
}
@-o-keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -3000px 0; }
}

@font-face {
    font-family: 'DaFont';
    src: url('3Dumb.ttf');
}

a {
  text-decoration: none;
}

.container {
  margin: 20px auto;
  width: 800px;
  text-align: center;
  /*background-color: red;*/
}

#nav a{
  font-size: 30px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

#title {
  clear: both;
  padding-top: 60px;
  /*text-align: center;*/
  /*background-color: pink;*/
}

#sign-up {
  clear: both;
  /*background-color: blue;*/
}

/*#log-in {
  background-color: green;
}*/

#sign-up h1 {
  font-family: 'DaFont';
}

#log-in h1 {
  font-family: 'DaFont'
}

#profile {
  padding-top: 20px;
  /*background-color: pink;*/
}

#create {
  padding-left: 75px;
  padding-top: 20px;
  /*background-color: pink;*/
}

#view {
  padding-left: 50px;
  padding-top: 20px;
  /*background-color: pink;*/
}

.center {
  margin: 100px auto;
  text-align: center;
}

input {
  text-align: center;
  margin-bottom: 3px;
  /*background-color: #F1FFFF;*/
  /*font-family: avenir;*/
}

button {
  margin-bottom: 3px;
}

ul li {
  list-style: none;
  margin-right: 1em;
  font-family: 'DaFont';
  font-size: 50px;
}

li a {
  color: #544738;
  text-decoration: none;
  float: left;
  font-size: 25px;
  padding: 12px;
}

.li-edit {
  padding: 0;

  background-color: pink;
}

#right {
  float: right;
}

#left a:hover {
    color: #33CCCC;
    /*transition*/
    -webkit-transition:All .4s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;

    /*transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}

#right a:hover {
    color: #33CCCC;
    /*transition*/
    -webkit-transition:All .4s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;

    /*transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}

.submit {
  font-family: "DaFont";
  font-size: 20px;
}

.submit:hover {
  color: #33CCCC;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#submit {
  font-family: "DaFont";
  font-size: 20px;
}

#submit:hover {
  color: #33CCCC;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#addQuestion {
  font-family: "DaFont";
  font-size: 20px;
  /*text-align: center;*/
}

#addQuestion:hover {
  color: #33CCCC;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#edit {
  font-family: "3Dumb";
  font-size: 20px;
  padding-bottom: 5px;
  text-decoration: none;
  display: inline-block;
}

#edit:hover {
  color: #33CCCC;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#delete {
  font-family: "DaFont";
  font-size: 20px;
}

#delete:hover {
  color: #33CCCC;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#update {
  font-family: "DaFont";
  font-size: 20px;
}

#update:hover {
  color: #33CCCC;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#right_side {
  position: relative;
  /*top: 25px;*/
  /*float: left;*/
}

.outer {
  width: 100%;
  /*background-color: pink;*/
}

.inner {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  /*background-color: red;*/
}

.sign_out {
  float:right;
  padding: 7px;
  /*font-size: 15px;*/
  margin-top: -8%;
  margin-right: -1%;
}

.sign_out {
  font-family: "DaFont";
  font-size: 20px;
}

.sign_out:hover {
  color: #33CCCC;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.error {
  font-size: 1.5em;
}
