<div class="container">
    <ul>
      <li id="title">Welcome to Shake N' Bake</li>
    </ul>
  <div id="sign-up">
    <h1>
      Sign Up
    </h1>

    <p>
    <form method="post" action="/users">
      <label class="label" for="name"></label>
      <input type="text" name="username" placeholder="User Name">
      <br>
      <label class="label" for="email"></label>
      <input type="email" name="email" placeholder="Email">
      <br>
      <label class="label" for="password"></label>
      <input type="password" name="password" placeholder="Password">
      <br>
      <br>
      <div class="submit"><input type="submit" value="Sign Me Up!"></div>
    </form>
    </p>

  </div>
  <hr id="indexhr">

  <div id="log-in">
    <h1>
      Log In
    </h1>

    <p>
    <form method="post" action="/sessions">
      <label class="label" for="email"></label>
      <input type="email" name="email" placeholder="Email">
      <br>
      <label class="label" for="password"></label>
      <input type="password" name="password" placeholder="Password">
      <br>
      <br>
      <div class="submit"><input type="submit" value="Sign Me In!"></div>
    </form>
    </p>
  </div>
</div>
