<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Shake N' Bake Survey Portal</title>
</head>
<body>
  <div id="navigation">
    <!-- please align signed in as and user name correctly and put sign out button to the right most space -->
   <ul id="nav">
    <% if current_user %>
    <li>Signed in as: <a href="/sessions/<%= current_user.id %>/profile"><%= current_user.username %></a></li>

    <!-- create surveys link -->
    <li><a href="some route">Create New Surveys</a></li>

    <!-- view all surveys -->
    <li><a href="some route">View All Your Surveys</a></li>

    <li><form id="sign-out" action="/sessions/<%= current_user.id %>" method="post">
        <input name="_method" type="hidden" value="delete" />
        <input type="submit" value="Sign Out">
      </form>
    </li>
    <% else %>
      <li><a href="/sessions/new">Sign In</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    <% end %>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
