<!-- incorporate AJAX to show new survey question added live -->

<h3>Create New Survey</h3>

<form action="/entries" method="post">
  <label for="title">Title:</label>
  <input type="text" name="survey[title]" value="Title" />
  <br>
  <br>
  <form id="question" method="post" action="/questions">
    <input type="text" name="question" placeholder="What is your question...">
    <input type="submit" value="create question">
  </form>
  <br>
  <br>
  <input type="submit" value="Create Survey">
</form>
