<!-- incorporate AJAX to show new survey question added live -->
<div class="center">
  <h1>Create New Survey</h1>

  <form class="survey" action="/sessions/<%= @user.id %>/surveys" method="post">
    <label for="title"></label>
    <input type="text" name="title" placeholder="Survey Title">
    <br>
    <span id="listOfQuestions">
      <input name="question1" type="text" placeholder="What is your question..."><br>
    </span>
    <br>
   <button id="submit">Create Survey</button>
  </form>

  <div id="right_side">
     <button id="addQuestion">+</button>
  </div>

</div>
